.container {
  display: flex;
}

.stroke-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 40px;
}

.menu {
  flex: 1;
  background-color: #ffffff;
  /* padding: 20px; */
}

.content {
  flex: 10;
  padding: 20px;
}

.containerItems {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Apply Roboto font to all text within the sidebar */
.container *,
.siteName,
.username,
.email,
.list,
.containerItems {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  /* Ensure font size is set to 16px for sidebar text */
}
